body {
	display: flex;
    flex-direction: column;
	min-height: 100vh;
	background: #eaedf7;
}

a {
	color: #6259ca;
	text-decoration: none;
	cursor: pointer;
}

.bg-primary {
	background-color: #6259ca !important;
}

.bg-secondary {
	background-color: #ffffff !important;
}

.btn-primary {
	background-color: #6259ca;
	border-color: #6259ca;
}

.btn-block {
	display: block;
	width: 100%;
}

/*Header*/
.main-header {
	position: fixed !important;
	height: 60px;
	width: 100%;
	top: 0;
	left: 0;
	padding-left: 240px;
	background-color: #ffffff;
	border-bottom: 1px solid #e1e6f1;
	box-shadow: -7.829px 11.607px 20px 0px rgb(144 143 160 / 9%);
	z-index: 10 !important;
	transition: all 0.5s;
}

.main-header.toggledSidebar {
	padding-left: 80px;
}

.main-header>.container-fluid {
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-sidebar-icon {
	font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.main-header-left {
	display: flex;
	align-items: center;
}

.main-header-center {
	flex: 1;
	margin: 0 0 0 0.8rem;
}

.main-header-right {
	display: flex;
	align-items: center;
}

.header-logout-icon {
	font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

/*Sidebar*/
.main-sidebar {
	position: fixed;
	width: 240px;
    top: 0;
    left: 0;
    bottom: 0;
    background: #25233c;
    z-index: 999;
    transition: all 0.5s;
}

.main-sidebar-header {
	position: fixed;
	z-index: 9999;
    width: 240px;
    background: #25233c;
    transition: all 0.5s;
}

.main-sidebar-header.active {
	width: 80px;
	background-color: #fff;
	margin-top: -14px;
}

.main-sidebar-header .toggled-logo {
	display: none;
}

.main-sidebar-header.active .toggled-logo {
	display: block;
	font-size: 34px;
	color: #25233c;
}

.main-sidebar-header.active .full-logo {
	display: none;
}

.main-sidebar-header h2 {
	font-size: 24px;
	color: #ffffff;
	padding: 25px 15px 0 15px;
}

.main-sidebar.active {
	width: 80px;
}

.main-sidebar.active .nav-header{
	display: none;
}
.main-sidebar.active .nav-link-label {
	display: none;
}

.main-sidebar-body {
	height: 100%;
	margin-top: 40px;
	padding: 25px;
}

.main-sidebar-body .nav {
	display: flex;
    flex-direction: column;
}

.main-sidebar-body .nav-header {
	margin-top: 10px;
	margin-bottom: 0;
}

.main-sidebar-body .nav-header-label {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
    letter-spacing: .5px;
    color: rgba(255, 255, 255, 0.3);
}

.main-sidebar-body .nav-item {
	margin: 5px 0;
}

.main-sidebar-body .nav-item.active i {
	color: #ffffff;
	background-color: #6259ca;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.main-sidebar-body .nav-item.active .nav-link-label {
	color: #ffffff;
}

.main-sidebar-body .nav-item + .nav-item {
    margin-top: -5px;
}

.main-sidebar-body .nav-link {
	display: flex;
	align-items: center;
	padding: 10px 0 0 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.main-sidebar-body .nav-link:hover {
	color: #ffffff;
}

.main-sidebar-body .nav-link .nav-link-label {
	transition: margin-left 0.45s ease;
}

.main-sidebar-body .nav-link .nav-link-label:hover {
	margin-left: 5px;
}

.main-sidebar-body .nav-link i {
	margin-right: 10px;
	font-size: 18px;
}

/*content*/
.main-content {
	margin-left: 240px;
	padding-top: 70px;
	transition: all 0.5s;
}

.main-content.toggledSidebar {
	margin-left: 80px;
}

.main-content .container-fluid {
    padding-left: 25px;
    padding-right: 25px;
}

.page-header-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 20px;
    padding: 20px 0 10px 0;
}

.page-header-block .breadcrumb {
	background: none;
    padding-left: 0 !important;
    padding: 0;
    margin-bottom: 0;
}

.page-header {
	font-size: 24px;
	color: #170c6b;
    font-weight: 500;
    text-indent: -1px;
    line-height: 1;
}

.breadcrumb-block .breadcrumb-item a {
    color: #8f9cc0;
}

.breadcrumb-block .breadcrumb-item.active {
	color: #7787bc;
}

.block {
	display: flex;
	flex-direction: column;
	padding: 25px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

.current-user-id h3 {
	font-size: 18px;
	color: #607d8b;
	text-align: right;
}

.current-user h2 {
	font-size: 24px;
}

/*footer*/
.main-footer {
	bottom: 0;
	margin-top: auto;
	padding: 15px;
	padding-left: 240px;
	background-color: #ffffff;
	color: #000000;
}

/*Form*/
.form-group {
	margin-bottom: 1rem;
}

.form-group label {
	margin-bottom: 10px;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #ffffff;
	background-clip: padding-box;
	border: 1px solid #e8e8f7;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	height: 38px;
	border-radius: 5px;
}

.form-control:focus {
	color: #8f9cc0;
	outline: 0;
	background-color: #ffffff;
	border-color: #a8afc7;
	box-shadow: none;
}

/*Map*/
#mapid { 
	height: 400px;
	z-index: 8;
}

/*Profile*/
.profile-card h3 {
	font-size: 20px;
	font-weight: 700;
}

.profile-card h5 {
	font-size: 18px;
	font-weight: 600;
}

.profile-card span {
	font-size: 16px;
	font-weight: 500;
}

.profile-information h4 {
	font-size: 16px;
	font-size: 600;
}

.profile-information span {
	font-size: 16px;
	font-size: 400;
}

.display-banner {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.display-banner img {
	height: 350px;
	width: 450px;
}

/*Dashboard Stats*/
.dashboard-stats .card {
	border: none;
}

.dashboard-stats .card {
	margin-top: 5px;
}

.dashboard-stats .card-label {
	color: #1d212f;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    letter-spacing: .2px;
    padding-top: 0.25rem !important;
    margin-bottom: 1rem !important;
}

.dashboard-stats-info i {
	display: inline-block;
	background: #edebff;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	font-size: 21px;
	color: #6259ca !important;
}

.dashboard-stats-info h2 {
	display: inline-block;
	float: right;
}

.leaflet-control-attribution {
	display: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #eb1313;
}

/*Blood Request*/
.request-card {
	border: 1px #dddddd solid;
	padding: 15px;
}

.request-card-content {
	display: flex;
}

.requested-bloodgroup {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	padding: 10px;
	margin-right: 20px;
	background-color: #eb1313;
	color: #ffffff;
}

.requested-bloodgroup h5 {
	font-size: 24px;
	font-weight: 700;
}

.requested-userinfo {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex: 2;
}

.requested-userinfo h5 {
	font-size: 18px;
	font-weight: 600;
}

.requested-userinfo span {
	font-weight: 400;
}

.request-card-btn-group {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.request-card-btn-group a + a {
	margin-left: 10px;
}


