body {
	/*padding: 0;
	margin: 0;*/
	background-color: #d4ebf2;
	height: 100vh;
}

a {
	text-decoration: none;
}

.user-authentication-block {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.user-authentication-block>.container {
	width: 60%;
}

.auth-left-block {
	display: flex;
	align-items: center;
	color: #ffffff;
	background-color: #eb1313;
}

.auth-left-block .icon-block {
	text-align: center;
}

.auth-left-block i {
	font-size: 70px;
}

.auth-left-block .title-block {
	text-align: center;
}

.auth-left-block .title-block h2 {
	font-size: 24px;
}

.auth-right-block {
	padding: 20px 25px;
	background-color: #ffffff;
}

.form-group {
	margin-top: 10px;
}

.btn-primary {
	background-color: #eb1313;
	border-color: #eb1313;
}

.btn-primary:hover {
	background-color: #eb1313;
	border-color: #eb1313;
}

.btn-block {
	width: 100%;
	margin-top: 10px;
}

.form-footer {
	margin-top: 15px;
}